body {
    overflow-x: hidden;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
 }

.menu-icon{
    position: fixed;
    top: 0px;
    right: 0;
    width: 40px;
    height: 34px;
    padding: 4px 8px;
    box-sizing: border-box;
    cursor: pointer;
}

li a.active {
    background: #f4f5f9;
    }

li a#papa {
    background: #9bc143;
    color: white;
    }

.topnav{
    position: fixed;
    top: 0px;
    right: 0;
    width: 100%;
    height: 34px;
    background: #9bc143;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
    z-index: 10;
}

.menu-icon span{
    width: 100%;
    height: 2px;
    display: block;
    background: #fff;
    margin: 5px 0;
    transition: .5s;
}

.social-icon{
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 40px;
    left: 0;
    display: flex;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.social-icon li{ 
    width: 20%;
    text-align: center;
    list-style: none;
}

.social-icon li a{
    display: block;
    font-size: 16px;
    color: #000;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: .5s;
}

.social-icon li a:hover{
    background: #9bc143;
    color: #fff;
}

/* Toggle Styles */

#wrapper {
    padding-left: 20;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

#wrapper.toggled {
    padding-left: 250px;
}

#wrapper.toggled > div .menu-icon span{
    position: absolute;
    width: calc(100% - 16px);
    top: calc(50% - 8px);
}

#wrapper.toggled > div .menu-icon span:nth-child(1){
    transform: rotate(45deg);
}

#wrapper.toggled > div .menu-icon span:nth-child(3){
    transform: rotate(-45deg);
}

#wrapper.toggled > div .menu-icon span:nth-child(2){
    display: none;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 240px;
    width: 0;
    height: 100%;
    margin-left: -245px;
    overflow-y: auto;
    background: #fff;
    /*background :  #b2bac1;*/
    box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 245px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute; 
    height: 100%;
      
}

#wrapper.toggled #page-content-wrapper {

    position: absolute;
    margin-right: -250px;

}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 249px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
}

.sidebar-nav li ul li{
    display: block;
}

.sidebar-nav li ul{
    /*background-color:  #fff;*/
    background-color : #eaf0f5;
    /*remove this line if <i class="fa is remove"*/
    margin-left: -70px;
    /*background-color : #b2bac1;*/
}

.sidebar-nav li.active > a{
    background-color: #b2bac1;
    /*background-color : #507da7;*/
    color: black;
}


.sidebar-nav li ul li a{
    color: #000;
    text-indent: 70px;
    font-weight: 300;
}

.sidebar-nav li ul li span{

    margin : 0px;
    margin-left : 10px;
    font-size : 14px;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}

.sidebar-nav span{
    margin-left: 25px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000;
    /*text-transform: uppercase;*/
    /*color: #999999;*/
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #ffffff;
    /*background: #9bc143;*/
    background: #507da7;
    /*background: rgba(255,255,255,0.2);*/
  
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 57px;
    font-size: 18px;
    line-height: 57px;
    margin-bottom: 15px;
    text-indent: 40px;
    margin-top: 0px;
    margin-bottom : 0px;
    border-bottom : 1px solid #dcd6e6;
    padding-bottom : 2px;
}

.sidebar-nav > .sidebar-brand img{
    
    height: 40px;
    width : 100px;
    margin-left: 40px;
}



.sidebar-nav > .sidebar-brand a:hover {
    background: none;
}

aside{
    position : fixed;
    overflow: hidden;

}