.submit-button{
	color: #ffffff;
	cursor: pointer;
	text-decoration: none;
}

.app{
	bottom: 50px;
	margin: auto;
}

.workspace{
	padding-top: 0px;
}


div.container h3{
	margin-top: 20px;
	margin-bottom: 35px;
}

.details{
	margin-bottom: 30px;
	font-weight: 300;
}

.form-group label{
	font-size: 12px;
}

p{
	margin: 0 0 10px;
}

/*progress bar*/
#progressbar{

	margin-bottom: 10px;
	overflow: hidden;
	counter-reset: step;
	text-align: center;
	margin: 0 auto;
}

#progressbar li{
	list-style-type: none;
	color: #000;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before{
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: white;
	/*background: #000;*/
	background : #007bff;
    border-radius: 50%;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after{
	content: '';
	width: 100%;
	height: 2px;
	/*background: #000;*/
	background : #007bff;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*behind the number*/
}
#progressbar li:first-child:after{
	/*connector not needed before the first step*/
	content: none;
}
/*marking active complete steps green*/
/*the number of the step and connector before it is green*/
#progressbar li.active:before, #progressbar li.active:after{
	/*background: #9bc143;*/
	color: white;
	background : #b2bac1;
}
/*hide all except first fieldset*/
#myform fieldset:not(:first-of-type){
	display: none;
	z-index: 0;
}

.fieldstyle{
	position: absolute;
	width: 100%;
	margin: 16px;
 	background-color: #ffffff;
	border-radius: 2px;
	padding: 20px;
	overflow: hidden;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
	z-index: 900;
}

.resources h1 {
    margin-bottom: 30px;
}
.resources a.panel {
    display: table;
    height: 200px;
    width: 100%;
    font-weight: 500;
    color: #000;
    /*background-color: #fafafa;*/
}
.resources a.panel:hover {
    /*background-color: #f0f0f0;*/
    background-color: #fafafa;
}
.resources a.panel > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.resources a.panel i.fa {
    font-size: 2em;
    margin-bottom: 10px;
}

.row{
	padding-bottom: 20px;
}

.step{
	position: relative;
	text-align: center;
}

.step i.fa-search {
    background-color: #85a4be;
    text-shadow: 0px 1px 5px rgba(0,0,0,0.12);
}

.step i {
    display: inline-block;
    width: 72px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    border-radius: 100px;
    background-color: #b1be85;
    font-size: 48px;
    color: #fff;
	/*box-shadow: 0px 1px 5px rgba(0,0,0,0.12), 0px 1px 5px rgba(0,0,0,0.24);*/
}

.step p {
    font-size: 1.0em;
    font-weight: 100;
}

.step h2, .step h3, {
    font-weight: 200;

}

.step input{
	margin: 15px;
}

.step img{
	width: 100px;
	height: 100px;
}
h1, h2, h3, h4, h5 {
}
h1, h2, h3, h4, h5 {
    color: #444;
    margin-bottom: 20px;
}

#myTable_wrapper{
	padding: 5px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
/*sa trash ni*/
.nav-label{
	border-radius: .25rem;
	display: block;
	padding: .5rem 1rem;
	color: #707070;
}

.nav-pills .nav-link.active, .show > .nav-pills .nav-link {
    color: #000;
    background-color: #f4f5f9;
}
.nav-pills .nav-link {
    border-radius: .25rem;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}

a.nav-link {
    color: #172B4D;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a.nav-link:hover {
    background-color: #f4f5f9;
}

.container h3 small button{
	font-weight: 200;
	font-size: 14px;
	cursor: pointer;
}

.container tbody{
	text-transform: capitalize;
}

table#myTable tr td, table#myTable1 tr td, table#myTable2 tr td, table#myTable3 tr td, table#condensed transition-delay: {
	vertical-align: middle;
}
