.workspace{
	padding-top: 40px;
}

#wizard-container{
	position: relative;
	margin-top: 16px;
	padding: 0;
	background-color: #ffffff;
	border-radius: 2px;
	overflow: hidden;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
	z-index: 900;
	margin:auto;
}

h3{
	margin-top: 20px;
	margin-bottom: 10px;
}

.details{
	margin-bottom: 30px;
	font-weight: 300;
}

.submit-button .login{
	cursor: pointer;
	text-decoration: none;
	margin-top: 20px
}

.submit-button input:hover{
	text-decoration: none;
}

.form-group label{
	font-size: 12px;
}

.btn{
	border: 1px solid #98b348;
	border-bottom: 3px solid #78923b;
	background-color: #9bc143;
	text-shadow: 1px 1px 1px #78923b;
	color: #ffffff;
	box-shadow: 0px 5px 20px-5px #888;
	cursor: pointer;
}

.btn:hover{
	background-color: #9ACD32;
}

p{
	display: block;
}