.content-container{

	margin: 0px;
	padding-top : 20px;
	padding-left: 20px;
	height : auto;

}


.form-container,.content-container{

	height : auto;
	width : 100%;
	position:relative;

}

.form-container {

	height : 800px;
	
}
