/*https://www.w3schools.com/icons/fontawesome_icons_webapp.asp*/
body{
	
	position : static;
	margin:0 auto;
    padding:0;
    line-height: 1.5em;
    height: auto;
    width: 100%;
}

.loginForm{

	float: none;
	height : 100%;
	position : static;
}

.login{

	float: right;
	width : 160px;
	margin-top :-20px;	
}

#wrapper, aside, nav, section,footer,article {

	float : none;
	position: absolute;

}

#wrapper{
	position : relative;

}

footer{

	position:relative;
	height : 80px;
}

.total {
	background : gray;
}

