@media(min-width:768px) {
    #wrapper {
        padding-left: 245px;
    }

    #wrapper.toggled {
        padding-left: 0;

    }

    #sidebar-wrapper {
        width: 250px;
        overflow-y:hidden;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0px;
        padding-top:20px;
        position: relative;
        margin-left : 0 auto;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

}

/*CLASS FOR CARET*/
.sidebar-nav > li.active > a:after {
    width: 0; 
    height: 0;  
    border-top: 8px solid transparent; 
    border-bottom: 8px solid transparent; 
    border-right: 8px solid #fff; 
    display: block; 
    position: absolute; 
    right:-1px; 
    content:''; 
    top:29%;
}